<h2>Latest posts:</h2>
<br/>
<% @results.each do |details| %>
  <p>
    <%= details['name_autor'] %>
    <br/>
    <%= details['content'] %>
      <br/>
      <br/>
    Added at <%= details['created_date']%>
    <br/>
    <br/>
    <a href="/details/<%= details['id']%>">Comments</a>
  </p>
  <hr/>
<% end %>
